In [78]:
from pyecharts.charts import Bar
from pyecharts import options as opts
from pyecharts.globals import ThemeType
bar = (
    Bar(init_opts=opts.InitOpts(theme=ThemeType.LIGHT))
    .add_xaxis(["哲学","历史","教育","科技","文学","经济"])
    .add_yaxis("商家A",[25,20,36,40,75,90])
    .add_yaxis("商家B",[35,26,45,50,35,66])
    .set_global_opts(title_opts=opts.TitleOpts(title="图书销量",subtitle="2020年"))
)
bar.render('55.html')

'e:\\PycharmProjects\\pythonProject\\55.html'

In [79]:
import pandas as pd
import numpy as np
data = pd.read_csv(r"E:\PycharmProjects\pythonProject\销售数据.csv")

In [80]:
data

,province,adcode,model,bodyType,regYear,regMonth,salesVolume
0,上海,310000,3c974920a76ac9c1,SUV,2016,1,292
1,云南,530000,3c974920a76ac9c1,SUV,2016,1,466
2,内蒙古,150000,3c974920a76ac9c1,SUV,2016,1,257
3,北京,110000,3c974920a76ac9c1,SUV,2016,1,408
4,四川,510000,3c974920a76ac9c1,SUV,2016,1,610
...,...,...,...,...,...,...,...
31675,福建,350000,a9a43d1a7ecbe75d,SUV,2017,12,112
31676,辽宁,210000,a9a43d1a7ecbe75d,SUV,2017,12,104
31677,重庆,500000,a9a43d1a7ecbe75d,SUV,2017,12,125
31678,陕西,610000,a9a43d1a7ecbe75d,SUV,2017,12,265
31679,黑龙江,230000,a9a43d1a7ecbe75d,SUV,2017,12,58

In [81]:
xx = data.groupby(["province","bodyType"]).sum()
result = data['province'].unique()

In [82]:
xx

                       adcode  regYear  regMonth  salesVolume
province bodyType
上海       Hatchback   22320000   145188       468        25921
         MPV         37200000   241980       780        45287
         SUV        186000000  1209900      3900       186237
         Sedan      200880000  1306692      4212       300192
云南       Hatchback   38160000   145188       468        16024
...                       ...      ...       ...          ...
陕西       Sedan      395280000  1306692      4212       294827
黑龙江      Hatchback   16560000   145188       468        13195
         MPV         27600000   241980       780        36684
         SUV        138000000  1209900      3900       149430
         Sedan      149040000  1306692      4212       206642

[88 rows x 4 columns]

In [83]:
yy = xx['salesVolume']
yy['上海','SUV']

186237

In [84]:
province = []
xxx = []
for i in result:
    province.append(i)
    xxx.append(yy[f'{i}','SUV'])

In [85]:
bar = (
    Bar(init_opts=opts.InitOpts(theme=ThemeType.LIGHT))
    .add_xaxis(province)
    .add_yaxis("销量",[186237, 198764, 154142, 225242, 390831, 288460, 491038, 160723, 821892, 144339, 563337, 206545, 418769, 484195, 490328, 343500, 335760, 188572, 206448, 191187, 203518, 149430])
    .set_global_opts(title_opts=opts.TitleOpts(title="SUV销量"))
)
bar.render('5.html')

'e:\\PycharmProjects\\pythonProject\\5.html'

In [86]:
print(xxx)
print(province)

[186237, 198764, 154142, 225242, 390831, 288460, 491038, 160723, 821892, 144339, 563337, 206545, 418769, 484195, 490328, 343500, 335760, 188572, 206448, 191187, 203518, 149430]
['上海', '云南', '内蒙古', '北京', '四川', '安徽', '山东', '山西', '广东', '广西', '江苏', '江西', '河北', '河南', '浙江', '湖北', '湖南', '福建', '辽宁', '重庆', '陕西', '黑龙江']

In [87]:
yy['河南']

bodyType
Hatchback     45396
MPV          224519
SUV          484195
Sedan        716798
Name: salesVolume, dtype: int64

In [88]:
for i in yy['河南']:
    print(i)

45396
224519
484195
716798

In [89]:
from pyecharts.charts import Pie
v1 = []
for i in yy['河南']:
    v1.append(i)
attr = ["Hatchback", "MPV", "SUV", "Sedan"]
c = (
    Pie()
    .add("", [list(z) for z in zip(attr, v1)])
    .set_global_opts(title_opts=opts.TitleOpts(title="河南"))
    .set_series_opts(label_opts=opts.LabelOpts(formatter="{b}: {c}"))
    .render("pie_base.html")
)

In [90]:
zz = data.loc[data["province"]=="河南"]
zz = zz.loc[data['regYear'] == 2016]
zz = zz.loc[data['regMonth']<=6]

In [91]:
zz

,province,adcode,model,bodyType,regYear,regMonth,salesVolume
13,河南,410000,3c974920a76ac9c1,SUV,2016,1,537
35,河南,410000,3d7554f1f56dd664,Sedan,2016,1,850
57,河南,410000,2d0d2c3403909fdb,SUV,2016,1,271
79,河南,410000,a28bb927b6fcb33c,Sedan,2016,1,455
101,河南,410000,17bc272c93f19d56,MPV,2016,1,7051
...,...,...,...,...,...,...,...
7823,河南,410000,feabbf46658382b9,SUV,2016,6,679
7845,河南,410000,f270f6a489c6a9d7,MPV,2016,6,847
7867,河南,410000,d0f245b8781e3631,Sedan,2016,6,645
7889,河南,410000,c6cd4e0e073f5ac2,Sedan,2016,6,1377
7911,河南,410000,a9a43d1a7ecbe75d,SUV,2016,6,126

In [92]:
zz1 = data.loc[data["province"]=="河南"]
zz1 = zz1.loc[data['regYear'] == 2017]
zz1 = zz1.loc[data['regMonth']<=6]

In [93]:
hn = zz.groupby(["bodyType",'regMonth']).sum()

In [94]:
hn

                      adcode  regYear  salesVolume
bodyType  regMonth
Hatchback 1          1230000     6048         2206
          2          1230000     6048         1112
          3          1230000     6048         1954
          4          1230000     6048         1822
          5          1230000     6048         1776
          6          1230000     6048         1715
MPV       1          2050000    10080        16907
          2          2050000    10080         9554
          3          2050000    10080         7911
          4          2050000    10080         6985
          5          2050000    10080         8396
          6          2050000    10080         7729
SUV       1         10250000    50400        27065
          2         10250000    50400        12492
          3         10250000    50400        14009
          4         10250000    50400        16908
          5         10250000    50400        16370
          6         10250000    50400        16505
Sedan     1         11070000    54432        40989
          2         11070000    54432        18767
          3         11070000    54432        21185
          4         11070000    54432        24908
          5         11070000    54432        24186
          6         11070000    54432        24634

In [95]:
hn1 = hn['salesVolume']

In [96]:
hn1

bodyType   regMonth
Hatchback  1            2206
           2            1112
           3            1954
           4            1822
           5            1776
           6            1715
MPV        1           16907
           2            9554
           3            7911
           4            6985
           5            8396
           6            7729
SUV        1           27065
           2           12492
           3           14009
           4           16908
           5           16370
           6           16505
Sedan      1           40989
           2           18767
           3           21185
           4           24908
           5           24186
           6           24634
Name: salesVolume, dtype: int64

In [97]:
hn1
SUV = []
MPV =[]
Sedan = []
for i in hn1['SUV']:
    SUV.append(i)
for i in hn1['MPV']:
    MPV.append(i)
for i in hn1['Sedan']:
    Sedan.append(i)

In [98]:
print(SUV)

[27065, 12492, 14009, 16908, 16370, 16505]

In [99]:
import pyecharts.charts as pyec
import pyecharts.options as opts
from pyecharts.globals import ThemeType
x = ['1','2','3','4','5','6']
y1 = SUV
y2 = MPV
y3 = Sedan
bar = pyec.Bar()
bar.add_xaxis(x)
bar.add_yaxis(series_name='SUV',y_axis=y1)
bar.add_yaxis(series_name='MPV',y_axis=y2)
bar.add_yaxis(series_name='Sedan',y_axis=y3)
bar.render_notebook()
bar.render("zzzzz.html")

'e:\\PycharmProjects\\pythonProject\\zzzzz.html'

In [106]:
zz

,province,adcode,model,bodyType,regYear,regMonth,salesVolume
13,河南,410000,3c974920a76ac9c1,SUV,2016,1,537
35,河南,410000,3d7554f1f56dd664,Sedan,2016,1,850
57,河南,410000,2d0d2c3403909fdb,SUV,2016,1,271
79,河南,410000,a28bb927b6fcb33c,Sedan,2016,1,455
101,河南,410000,17bc272c93f19d56,MPV,2016,1,7051
...,...,...,...,...,...,...,...
7823,河南,410000,feabbf46658382b9,SUV,2016,6,679
7845,河南,410000,f270f6a489c6a9d7,MPV,2016,6,847
7867,河南,410000,d0f245b8781e3631,Sedan,2016,6,645
7889,河南,410000,c6cd4e0e073f5ac2,Sedan,2016,6,1377
7911,河南,410000,a9a43d1a7ecbe75d,SUV,2016,6,126

In [114]:
hn1

                      adcode  regYear  salesVolume
bodyType  regMonth
Hatchback 1          1230000     6048         2206
          2          1230000     6048         1112
          3          1230000     6048         1954
          4          1230000     6048         1822
          5          1230000     6048         1776
          6          1230000     6048         1715
MPV       1          2050000    10080        16907
          2          2050000    10080         9554
          3          2050000    10080         7911
          4          2050000    10080         6985
          5          2050000    10080         8396
          6          2050000    10080         7729
SUV       1         10250000    50400        27065
          2         10250000    50400        12492
          3         10250000    50400        14009
          4         10250000    50400        16908
          5         10250000    50400        16370
          6         10250000    50400        16505
Sedan     1         11070000    54432        40989
          2         11070000    54432        18767
          3         11070000    54432        21185
          4         11070000    54432        24908
          5         11070000    54432        24186
          6         11070000    54432        24634

In [117]:
hn2 = hn2["salesVolume"]

In [129]:
SUV1 = []
MPV1 =[]
Sedan1 = []
for i in hn2['SUV']:
    SUV1.append(i)
for i in hn2['MPV']:
    MPV1.append(i)
for i in hn2['Sedan']:
    Sedan1.append(i)

In [131]:
SUV1

[25122, 10464, 15423, 17129, 17360, 17129]

In [133]:
from pyecharts.charts import Scatter
from pyecharts.faker import Faker
x = ['1','2','3','4','5','6']
c = (
    Scatter()
    .add_xaxis(x)
    .add_yaxis("suv", SUV)
    .add_yaxis("sedan", Sedan)
    .add_yaxis("suv1", SUV1)
    .add_yaxis("sedan1", Sedan1)
    .set_global_opts(
        title_opts=opts.TitleOpts(title="zzzz"),
        
        visualmap_opts=opts.VisualMapOpts(
            type_="size",  #映射大小
            max_=150000,
            min_=20,
            pos_bottom = 50,pos_right = 0),
    )
    .render("scatter_visualmap_size.html")
    
)

In [100]:
data1 = data.loc[data['regYear']==2016]

In [101]:
x1 = data1.groupby(["province"]).sum()
result1 = data1['province'].unique()

In [102]:
y1 = x1['salesVolume']

In [103]:
dataa = []
for i in range(len(y1)):
    ss = (province[i],int(y1[i]))
    dataa.append(ss)

In [104]:
dataa

[('上海', 297494),
 ('云南', 279162),
 ('内蒙古', 179316),
 ('北京', 359146),
 ('四川', 550626),
 ('安徽', 411830),
 ('山东', 854127),
 ('山西', 265376),
 ('广东', 1104134),
 ('广西', 250426),
 ('江苏', 904270),
 ('江西', 283396),
 ('河北', 667250),
 ('河南', 749853),
 ('浙江', 698823),
 ('湖北', 397967),
 ('湖南', 446622),
 ('福建', 278469),
 ('辽宁', 328400),
 ('重庆', 240366),
 ('陕西', 297537),
 ('黑龙江', 208868)]

In [105]:
from pyecharts.charts import Map,Geo
map=(
    Map()
    .add("",dataa,"china")
    .set_global_opts(
        title_opts=opts.TitleOpts(title="2016年各个省份汽车销售总量",pos_right="center",pos_top="5%"),
        visualmap_opts=opts.VisualMapOpts(max_=1200000),
    )  
)
map.render_notebook()
#map.render("zke.html")